<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Login page</title>
    <style>
        h1 {
            text-align: center;
        }

        b {
            text-align: center;
        }

        form {
            text-align: center;
        }
    </style>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="./content/styles.css" rel="stylesheet"/>
</head>
<body>

<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class="fa-solid fa-gamepad"></i>
            <span>Press Start</span>
        </div>
        <i class="fa-solid fa-bars" id="btn"></i>
        <div class="pressstart">
            <img alt="name" class="pressstart" src="./content/pressstart.webp">
            <div>
                <p class="bold"> PressStart</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="index.html">
                    <i class="fa-brands fa-dashcube"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="inventory.html">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span class="nav-item">Inventory</span>
                </a>
                <span class="tooltip">Inventory</span>
            </li>
            <li>
                <a href="buy.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="nav-item">Buy</span>
                </a>
                <span class="tooltip">Buy</span>
            </li>
            <li>
                <a href="sell.html">
                    <i class="fa-solid fa-money-bill"></i>
                    <span class="nav-item">Sell/Returns</span>
                </a>
                <span class="tooltip">Sell/Returns</span>
            </li>
            <li>
                <a href="repair.html">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span class="nav-item">Repairs</span>
                </a>
                <span class="tooltip">Repairs</span>
            </li>
            <li>
                <a href="login.html">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <h1>Employee Login</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                       type="email">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>

<!-- Scripting Section -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./scripts/app.js"></script>
</body>
</html>